@using Microsoft.AspNet.Identity
@model Chirper_2._0.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

@if (@Model.ThatsMe)
{
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>

            <dt>Registration Date:</dt>
            <dd>@Model.UserProfileInfo.RegistrationDate</dd>
        </dl>
    </div>
}
else
{
    <dl class="dl-horizontal">
        <dt>Id:</dt>
        <dd>@Model.UserProfileInfo.Id</dd>

        <dt>E-mail:</dt>
        <dd>@Model.UserProfileInfo.Email</dd>

        <dt>Registration Date</dt>
        <dd>@Model.UserProfileInfo.RegistrationDate</dd>

        <dt>Posts: </dt>
        <dd>@Model.UserProfileInfo.Posts.Count</dd>


        <button onclick="javascript:window.location = ('@Url.Action("Create", "Subscriptions", new {id = @Model.UserProfileInfo.Id})')" class="btn btn-info">Subscribe</button>
    </dl>
}